:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#main-container{
  height: 100vh;
  width: 100vw;
}

.chart-container{
  height: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}